<!doctype html>
<html lang="en">

<head>
    <%-include('head')%>
</head>
<body>
    <%-include('nav')%>
        <ul>
            <% for(var i = 0; i < hotels.length; i++){%>
                <%-include('hotelcard', {
                    hotel : hotels[i]
                });%>
            <%}%>
        </ul>
</body>

<script type="text/javascript">
    const successReservation = "<%=successReservation%>"
    if(successReservation === "true"){
        alert("예약 성공하셨습니다!");
    }
</script>
</html>