<!doctype html>
<html lang="en">

<head>
    <%-include('head')%>
</head>

<body>
    <%-include('nav')%>
    <h1>
        예약 정보
    </h1>
    <ul>
        <% for(let i = 0; i < rooms.length; i++){%>
            <%-include('roomcard', {
                room : rooms[i]
            })%>
        <%}%>
    </ul>
</body>

</html>