<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <%if(user.isAuthenticated){%>
            <a class="navbar-brand" href="/">
                반갑습니다. <%= user.name %>님!
            </a>
            <%}else {%>
                <a class="navbar-brand" href="/">안녕하세요!</a>
                <% } %>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNav" aria-controls="123" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
            </button>
                    <%if(user.isAuthenticated){%>
                        <div class="collapse navbar-collapse" id="myNav">
                            <div class="navbar-nav">
                                <a class="nav-link active" href="/info" aria-current="page">내 정보</a>
                                <a class="nav-link active" href="/logout" aria-current="page">로그아웃</a>
                            </div>
                        </div>
                        <%}else {%>
                            <div class="collapse navbar-collapse" id="myNav">
                                <div class="navbar-nav">
                                    <a class="nav-link active" aria-current="page" href="/sign-up">회원가입</a>
                                    <a class="nav-link active" aria-current="page" href="/login">로그인</a>
                                </div>
                            </div>
                            <%}%>
    </div>
</nav>
<script>
</script>