.admin-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.admin-input-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
